body,
* {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

/* Headings */

.title-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar Starts */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
}
/* Navigation Bar Ends */

/* Title Starts */
#title {
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 7% 7%;
}

.title-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  height: 160%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* Title Ends */

/* Features Starts */

#features {
  position: relative;
}

.feature-title {
  font-size: 2rem;
  font-weight: 900;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #0072ff;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00c6ff;
}
.feature-text {
  color: grey;
  font-weight: 900;
}
/* Features Ends */

/* Testimonial Starts */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Testimonials Ends */

/*  Team Starts */

#team {
  padding: 100px;
}

.team-column {
  padding: 3% 2%;
}

.team-button {
  background-color: #0072ff;
  font-weight: 900;
  color: #fff;
}

/* Team Ends */

/* Contact Starts  */

.social-icon {
  margin: 30px 20px;
}

/* Contact Starts  */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
