body,
* {
  font-family: "Montserrat";
  text-align: center;
  /* font-weight: 900; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}
/* 
p {
  color: #8f8f8f;
} */

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  /* background-color: #ff4c68; */
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #fff;
  font-weight: 900;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 7% 7%;
}

/* Title Image */

.title-image {
  height: 200%;
  /* width: 60%; */
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Starts */

#features {
  position: relative;
}

.feature-title {
  font-size: 2rem;
  font-weight: 900;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #e50914;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #e2363f;
}
.feature-text {
  color: grey;
  font-weight: 900;
}
/* Features Ends */

/* Testimonial Starts */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Testimonials Ends */

/*  Team Starts */

#team {
  padding: 100px;
}

.team-column {
  padding: 3% 2%;
}

.team-button {
  background-color: #e50914;
  font-weight: 900;
  color: #fff;
}

/* Team Ends */

/* Contact Starts  */

.social-icon {
  margin: 30px 20px;
}

/* Contact Starts  */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
