body {
  background-color: #f8e5e5;
}
/* #cv-form {
  display: none;
  margin-top: 10px;
} */
/* #cv-template {
  display: none;
} */
.myimg {
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 150px;
}

.background {
  background-color: rgb(167, 234, 234);
}
